*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/connectivity/build/
/core/security/build/
/data/local/build/
/data/local/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/chat/build/
/feature/identity/build/
/feature/morse/build/
/feature/radar/build/